<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/extras/dialect" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
       <link th:href="@{css/styles.css}" type="text/css" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <title>mójPrzepiśnik</title>
</head>
<body>

		<div class="mySide" th:fragment="sidebar">
		    <div class="navHeader" style="justify-content: center; font-size: 17px; background-color: #1abc9c;">
		        <a th:href="@{#}" th:text="#{sidebar.choosecat}"><b>Choose category:</b></a>
		        <a href="javascript:void(0);" class="icon" onclick="showSideNav()">
		         <i class="fa fa-bars"></i>
		        </a>
		    </div>
		    <div class="mySideNav" id="mySideNav">
		        <a th:href="@{/}" th:text="#{sidebar.showall}">Show all</a> 
		        <a th:if="${categories!=null}" th:each="category:${categories}" th:href="@{/category?${category}}" th:text="${category}"></a>
		    </div>
		</div>

</body>
</html>