<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/extras/dialect" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
       <link th:href="@{css/styles.css}" type="text/css" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <title>mójPrzepiśnik</title>
</head>
<body>

	<div th:replace="fragments/header::header"></div>
	<div th:replace="fragments/navbar::navbar"></div>
		
        
        <div class="myRow">
           
            <div th:replace="fragments/sidebar::sidebar"></div>
            
            <div class="myMain">
            
                     <div th:if="${recipes!=null}" th:each="recipe:${recipes}" class="myColumn" style="margin-bottom: 5px;">
		                 <div class="myRow">   
		                      <div class ="myVote" style="height: inherit; justify-content: space-between;">
		                         <div>
		                        	<a th:href="@{'/vote?recipeId='+${recipe.id}+'&amp;voteType=VOTE_UP'}" class="btn btn-block btn-success" style="background-color: #1abc9c;"><span class="glyphicon glyphicon-thumbs-up"></span></a>
		                        	<div class="well-sm well" style="text-align: center; margin: 0;">
		                           		<p th:text="${recipe.upVote - recipe.downVote}"></p>
		                        	</div>
		                        	<a th:href="@{'/vote?recipeId='+${recipe.id}+'&amp;voteType=VOTE_DOWN'}" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></a>
		                    	 </div>
		                    	 <div>
		                    		<a th:href="@{'/comment?recipeId='+${recipe.id}}" class="btn btn-block btn-info" style="margin-top: 5px; margin-bottom: 5px;"><span class="glyphicon glyphicon glyphicon-pencil"></span></a>
		                    	 </div>
		                      </div>
		                      <div class="myRecipe" style="height: inherit; justify-content: space-between;">
		                         <div>
				                      <h2 style="margin-top:6px;" th:text="${recipe.rName}"></h2>
				                      <div class="myRow" style="flex-flow:wrap;">  
				                        <p style="color:grey;" th:text="#{recipe.categories}+'&nbsp;'">Categories:</p>    
				                        <p style="color:grey;" th:each="category:${recipe.rCategories}" th:text="${category.cName}+'&nbsp;'"></p>    
				                      </div>
				                      <div style="padding-top: 10px; padding-bottom: 10px;">
				                          <p th:text="${recipe.rDescription}"></p>
				                      </div>
		                         </div>
		                         <div>
			                      	<p style="color:grey;" th:text="#{recipe.addedby} + ' ' + ${recipe.usrWhoAddedRecipe.username} + ', ' + #{recipe.addedwhen} + ' ' + ${#dates.format(recipe.Date,'dd-MMM-yyyy')}">Added by User, Date: dd-MMM-yyyy</p>
			                      	<div class="myRow">
			                          <a th:href="@{${recipe.rUrl}}" th:target="_blank" th:text="#{recipe.gotorecipe}" class="btn btn-primary" style="margin: 5px;padding-left: 20px; padding-right: 20px;"></a>
			                          <a th:href="@{'/favourite?recipeId='+${recipe.id}}" th:text="#{homepage.addToFav}" class="btn btn-success" style="margin: 5px;"></a>
			                          <a th:text="#{homepage.showComments}" class="btn btn-warning" style="margin: 5px;" data-toggle="collapse" th:attr="data-target='#commentarea_'+${recipe.id}" aria-expanded="false" aria-controls="collapseExample"></a>
			                      	</div>
		                  		 </div>		
		                      </div>
		                  </div>    
		                   <div class="collapse" th:id="'commentarea_'+${recipe.id}">
							  <div class="myComment" th:each="comment:${comments}" th:if="${comment.recipeWithComment.id}==${recipe.id}">
						    	<div class="myColumn" style="justify-content: space-between;">
							    	<div>
								    	<h3 style="margin-top:6px;" th:text="${comment.title}"></h3>
								    	<div style="padding: 10px;">
					                       	<p th:text="${comment.contents}"></p>
					                    </div>
					                </div>
							    	<div>
							    		<p style="color:grey;" th:text="#{recipe.addedby} + ' ' + ${comment.userWhoLeftComment.username} + ', ' + #{recipe.addedwhen} + ' ' + ${#dates.format(comment.date,'dd-MMM-yyyy')}">Added by User, Date: dd-MMM-yyyy</p>
						  			</div>
						  		</div>
						  		<div>
						  			<img th:each="image:${comment.images}" th:alt="'Image: '+${image.name}" th:src="@{'img/'+${image.name}}" class="img-fluid img-thumbnail" style="max-height:200px; max-width:auto;"/>
							  	</div>
							  </div>
						  </div> 
				   </div>	  
				   
	           </div>
        </div>
        
        <div th:replace="fragments/footer::footer"></div>
        
       	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
        <script>
        function showTopNav() {
            var x = document.getElementById("myTopNav");
            if (x.className === "myTopNav") {
                x.className += " responsive";
            } else {
                x.className = "myTopNav";	
            }
        }
        </script>
        <script>
        function showSideNav() {
            var x = document.getElementById("mySideNav");
            if (x.className === "mySideNav") {
                x.className += " responsive";
            } else {
                x.className = "mySideNav";
            }
        }
        </script>

</body>
</html>