<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/extras/dialect" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
       <link th:href="@{css/styles.css}" type="text/css" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <title>mójPrzepiśnik</title>
</head>
<body>

	<div th:replace="fragments/header::header"></div>
	<div th:replace="fragments/navbar::navbar"></div>
		
        
        <div class="myRow">
            <div th:replace="fragments/sidebar::sidebar"></div>
            <div class="myMain">
                  <div th:if="${recipes!=null}" th:each="recipe:${recipes}" class="myRow">
                    <div class ="myVote">
                        <a th:href="@{/vote?recipe=${recipe}&amp;user=${user}&amp;voteType=VOTE_UP}" class="btn btn-block btn-primary btn-success" style="background-color: #1abc9c;"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                      <div class="well-sm well" style="text-align: center; margin: 0;">
                          <p th:text="${recipe.upVote - recipe.downVote}"></p>
                      </div>
                        <a th:href="@{/vote?recipe=${recipe}&amp;user=${user}&amp;voteType=VOTE_DOWN}" class="btn btn-block btn-primary btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                   
                   </div>
                    <div class="myRecipe">
                        <h2 style="margin-top:6px;" th:text="${recipe.name}"></h2>
                        <p style="color:grey;" th:text="#{recipe.categories}">Categories: </p>    
                        <p style="color:grey;" th:each="category:${recipe.category}" th:text="${category.name}"></p>    
                      <div style="padding: 10px;">
                          <p th:text="${recipe.description}"></p>
                      </div>
                      <p style="color:grey;" th:text="#{recipe.addedby}">Added by </p>
                      <p style="color:grey;" th:text="${recipe.user.username}"></p>
                      <p style="color:grey;" th:text="#{recipe.addedwhen}">Date: </p>
                      <p style="color:grey" th:text="${#dates.format(recipe.timestamp,'dd-MMM-yyyy')}"></p>
                      <div class="myRow">
                          <a th:href="@{recipe.ulr}" th:text="#{recipe.gotorecipe}" class="btn btn-primary btn-info" style="margin: 5px;padding-left: 20px; padding-right: 20px;"></a>
                          <a th:href="@{/like?recipe=${recipe}&amp;user=${user}}" th:text="#{recipe.addtofav}" class="btn btn-primary btn-warning" style="margin: 5px;"></a>
                      </div>    
                  </div>  
                  </div>
            </div>
        </div>
        
        <div th:replace="fragments/footer::footer"></div>
        
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
 
        <script>
        function showTopNav() {
            var x = document.getElementById("myTopNav");
            if (x.className === "myTopNav") {
                x.className += " responsive";
            } else {
                x.className = "myTopNav";	
            }
        }
        </script>
        <script>
        function showSideNav() {
            var x = document.getElementById("mySideNav");
            if (x.className === "mySideNav") {
                x.className += " responsive";
            } else {
                x.className = "mySideNav";
            }
        }
        </script>

</body>
</html>