<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/extras/dialect" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KB7SD56');</script>
	<!-- End Google Tag Manager -->
	
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
       <link th:href="@{css/styles.css}" type="text/css" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <title th:text="#{recipeshared.sharesuccesstitle}">Recipe shared</title>
</head>
<body>

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB7SD56"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div th:replace="fragments/header::header"></div>
	<div th:replace="fragments/navbar::navbar"></div>
        
        <div class="myMessage" style="background-color: #f1f1f1;">
            <h3 class="form-signin-heading" th:text="#{recipeshared.sharesuccess}">Recipe shared successfully</h3>
       		<a href="#" th:href="@{/userpage}" th:text="#{recipeshared.gohome}">Go back to your recipe page</a> 
      	 </div>	
        
        <div th:replace="fragments/footer::footer"></div>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
        <script>
        function showTopNav() {
            var x = document.getElementById("myTopNav");
            if (x.className === "myTopNav") {
                x.className += " responsive";
            } else {
                x.className = "myTopNav";	
            }
        }
        </script>
        <script>
        function showSideNav() {
            var x = document.getElementById("mySideNav");
            if (x.className === "mySideNav") {
                x.className += " responsive";
            } else {
                x.className = "mySideNav";
            }
        }
        </script>

</body>
</html>