<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/extras/dialect" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
       <link th:href="@{css/styles.css}" type="text/css" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
       <title>mójPrzepiśnik</title>
</head>
<body>

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB7SD56"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div th:replace="fragments/header::header"></div>
	<div th:replace="fragments/navbar::navbar"></div>
        
        <div class="myColumn" style="background-color: #f1f1f1;">
           <div class="myForm">
               <form action="register" th:action="@{/register}" th:object="${user}" method="post">
                       <h3 class="form-signin-heading" th:text="#{register.register}">Register</h3>
                       <input th:field="*{email}" type="email" class="form-control" style="margin-bottom: 5px;" th:placeholder="#{register.email}"/>
                       <input th:field="*{username}" type="text" class="form-control" style="margin-bottom: 5px;" th:placeholder="#{register.username}"/>
                       <input th:field="*{password}" type="password" class="form-control" style="margin-bottom: 5px;" th:placeholder="#{register.password}"/>
                       <button class="btn btn-md btn-block" style="margin-bottom: 10px; background-color: #1abc9c; color:white" type="submit" th:text="#{register.register}">Register</button>
               </form>
           </div>    
      	 </div>	

        
        <div th:replace="fragments/footer::footer"></div>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
        <script>
        function showTopNav() {
            var x = document.getElementById("myTopNav");
            if (x.className === "myTopNav") {
                x.className += " responsive";
            } else {
                x.className = "myTopNav";	
            }
        }
        </script>
        <script>
        function showSideNav() {
            var x = document.getElementById("mySideNav");
            if (x.className === "mySideNav") {
                x.className += " responsive";
            } else {
                x.className = "mySideNav";
            }
        }
        </script>

</body>
</html>